.header-page{
  background-color: #C9DBFF;
  padding: 0 10px;

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  ul{
    width: 100%;
    list-style: none;
    padding: 0;

    text-align: center;

      ul{
        display: none;
      }

      a{
        display: block;
        padding: 20px 20px;
      }

      li:hover{
        background-color: lighten($color-link-hover, 10%);

        ul{
          display: block;
          position: absolute;
        }
      }
  }

}

@media screen and (min-width: $vw-medium){

  .header-page{

    nav{
      flex-direction: row;
      justify-content: space-between;
    }

    ul{
      width: auto;
      display: flex;
    }

  }
}